* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(254, 241, 216);
}

main {
	width: 80%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

h1 {
	font-weight: 500;
	text-transform: uppercase;
	word-spacing: 10px;
	font-size: 50px;
}

div.time-section {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

.inner-time-section {
	text-align: center;
}

/* HOUR SECTION */
.hour-text {
	background-color: #0078aa;
}
.hour-number {
	background-color: #3ab4f2;
}

/* MINUTE SECTION */
.minute-text {
	background-color: #5bb318;
}
.minute-number {
	background-color: #7dce13;
}

/* SECOND SECTION */
.second-text {
	background-color: #d1512d;
}
.second-number {
	background-color: #ef5b0c;
}

/* SESSION SECTION */
.session-text {
	background-color: #355764;
}
.session-number {
	background-color: #5a8f7b;
}

.hour-text,
.minute-text,
.second-text,
.session-text {
	padding: 0.75rem 2.8rem;
	font-size: 31px;
	color: white;
	font-weight: 300;
	width: 250px;
}

.hour-number,
.minute-number,
.second-number,
.session-number {
	padding: 3rem 2.5rem;
	font-size: 100px;
	color: white;
	font-weight: bold;
	width: 250px;
}

@media (max-width: 1200px) {
	h1 {
		margin-top: 3rem;
		font-size: 35px;
	}

	div.time-section {
		gap: 1rem;
	}

	.hour-text,
	.minute-text,
	.second-text,
	.session-text {
		padding: 0.75rem 2.8rem;
		font-size: 25px;
		color: white;
		font-weight: 300;
		width: 200px;
	}

	.hour-number,
	.minute-number,
	.second-number,
	.session-number {
		padding: 3rem 2.5rem;
		font-size: 40px;
		color: white;
		font-weight: bold;
		width: 200px;
	}
}

@media (max-width: 900px) {
	h1 {
		margin-top: 3rem;
		font-size: 25px;
	}

	div.time-section {
		flex-direction: column;
	}

	.hour-text,
	.minute-text,
	.second-text,
	.session-text {
		padding: 0.75rem 2.8rem;
		font-size: 25px;
		color: white;
		font-weight: 300;
		width: 220px;
	}

	.hour-number,
	.minute-number,
	.second-number,
	.session-number {
		padding: 3rem 2.5rem;
		font-size: 70px;
		color: white;
		font-weight: bold;
		width: 220px;
	}
}
