*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    padding: 1.5rem 1rem 3rem 1rem;
    box-shadow: 9px 7px 15px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    gap: 1.5rem;
}

h1{
    font-size: 31px;
    letter-spacing: 1px;
}

textarea{
    resize: none;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    padding: 1rem;
}

button{
    cursor: pointer;
    background-color:#3AB4F2;
    color: white;
    font-family: inherit;
    border: none;
    padding: .5rem .75rem;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    align-self: flex-start;
    font-weight: bold;
    transition: .5s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

p{
    color: grey;
    font-size: 27px;
    letter-spacing: 1.5px;
    display: none;
}

.gelatine {
    animation: gelatine 0.5s infinite;
}
  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }